.Button {
    margin: 0;
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px 15px;
}

.clear,
.clearInverted {
    background: none;
    outline: none;
    border: none;
    padding: 0;
}

.outline,
.outlineInverted {
    background: none;
    border: 2px solid var(--primary-color);
}

.clearInverted,
.outlineInverted {
    color: var(--inverted-primary-color);
}

.outlineInverted {
    border: 2px solid var(--inverted-primary-color);
}

.Button:hover {
    opacity: var(--ux-opacity);
}

.background,
.backgroundInverted {
    border: none;
    outline: none;
}

.background {
    background-color: var(--bg-color);
}

.backgroundInverted {
    color: var(--inverted-primary-color);
    background-color: var(--inverted-bg-color);
}

.square {
    padding: 0;
}

.square.size_m {
    height: var(--font-line-m);
    width: var(--font-line-m);
}

.square.size_l {
    height: var(--font-line-l);
    width: var(--font-line-l);
}

.square.size_xl {
    height: var(--font-line-xl);
    width: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}
